:root{
    --p-size:25px;
    --gap-size:15px;
}

@media (max-width: 512px) {
    :root{
        --p-size:15px;
        --gap-size:10px;
    }
}

.listCharacters{
    padding:25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: var(--gap-size);
    max-width: 1200px;
    margin: 0 auto;
}
.titleCards{
    padding: var(--p-size) ;
    text-align: center;
    background: #e1e1e1;
    border-bottom: 4px solid #cecece;
}