body {
  background: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
