*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background: #454545;
  width: 100%;
  display: grid;
  grid-template-columns: .3fr .7fr;
  padding: 10px;
  align-items: center;
}
a{
  color: inherit;
}
.imagesHome{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.imagesHome img{
  max-width: 70px;
}

.container img{
  width: 100%;
}

.menu {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}


.menu li {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.menu li:hover {
  color: #fddb3a;
}

.options li {
  display: inline-block;
}

.active {
  color: brown;
  font-weight: bold;
  text-decoration: underline;
  font-weight: 800;
  text-shadow: 1px 0 0 brown;
}
.disable {
  color: #f6f4e6;
  text-decoration: none;
  font-weight: 800;
  text-shadow: 1px 0 0 #f6f4e6;
}
